params.executor = "local"
params.cpuNum = 1

report.enabled = true
trace.enabled = true
dag.enabled = true

report.file = "logs/report.html"
trace.file = "logs/trace.txt"
dag.file = "logs/dag.svg"

augustus_container = "quay.io/biocontainers/augustus:3.4.0--pl5321hd8b735c_3"
kalign_container = "quay.io/biocontainers/kalign2:2.04--h779adbc_2"

profiles {
    docker {
        docker.enabled         = true
        docker.remove 	       = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        process.executor = params.executor
		process {
			withName:augustus_ppx_run {
				container = augustus_container
			 }
			withName:msa2prfl_run {
				container = augustus_container
			 }
			withName:kalign_run {
				container = kalign_container
			 }
			}
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        process.executor = params.executor
		process {
			withName:augustus_ppx_run {
				container = 'docker://'+augustus_container
			 }
			withName:msa2prfl_run {
				container = 'docker://'+augustus_container
			 }
			withName:kalign_run {
				container = 'docker://'+kalign_container
			 }

		        }
    }
}


